* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

#title {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #222;
  opacity: 0;
  transition: 1s ease-in-out;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 30vmax;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: 1s cubic-bezier(0.18, 1.52, 0.4, 0.87);
}

#button-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.controller {
  text-align: center;
  margin-top: 2vmax;
}

.square {
  background: #222;
  /* border: 3px solid #eee; */
  min-height: 10vmax;
  min-width: 10vmax;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.5s ease-in-out;
  z-index: 1;
  outline: none;
  box-shadow: 0 0 5px 1px #fff;
}

.square:hover {
  transition: 1s cubic-bezier(0.18, 1.52, 0.4, 0.87);
  /* transform: scale(1.15); */
  z-index: 100;
  background: #eee;
}

.square:hover .letter {
  color: #222;
}

.letter {
  font-family: Helvetica, sans-serif;
  max-width: 50%;
  font-size: 3.5rem;
  color: #eee;
  font-weight: bold;
  vertical-align: middle;
  z-index: 1000;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  height: 10vmax;
  width: 30vmax;
  line-height: 3rem;
  text-align: center;
  padding: 0.4rem 1rem 0rem 1rem;
  color: #eee;
  background: #222;
  font-weight: bold;
  vertical-align: middle;
  border: none;
  transition: 0.5s ease-in-out;
}

#start-button:hover {
  transform: scale(1.15) translateY(2vmax);
  transition: 0.5s cubic-bezier(0.18, 1.52, 0.4, 0.87);
}

#start-button {
  background: green;
  z-index: 2000;
  transition: 0.25 ease-in-out;
}

#restart-button:hover {
  background: red;
  transition: 1s ease-in-out;
  max-height: 10vmax;
}

#restart-button {
  display: none;
  max-height: 6px;
  transition: 1s ease-in-out;
}

span {
  cursor: default;
}

button:focus {
  outline: 0;
}
